/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
    padding: 20px 20px;
    border-top:3px solid #fafafa ;
    background: #fff;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}