<%- include('inc/_header'); %>
<!--▼ Content area ▼-->

<main class="p-top container">
   <!--▼ home ▼-->
	<section class="c-home">
        <div class="c-home__icon">
            <i class="fas fa-home">  Home</i>
        </div>
    </section>
     <!--▼ category1 ▼-->
    <section class="c-category1">
        <div class="c-category1__inner">
            <div class="c-category1__btn">
                <input type="button" value="Category 1">
                <p> Title  Title Title Title Title Title Title  Title Title Title Title Title Title</p>
            </div>
        </div>
    </section>
     <!--▼ news ▼-->
    <section class="c-news">
        <div class="c-news__text">
            <p>News</p>
        </div>
    </section>
     <!--▼ category2 ▼-->
    <section class="c-category2">
        <div class="c-category2__inner">
            <div class="c-category2__img">
                <img src="../assets/img/Image(1).png" alt="image">
            </div>
            <div class="c-category2__text">
                <h3>Title title title title title title title title</h3>
                <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
               <button>Link 1</button>
            </div>
        </div>
    </section>
     <!--▼ category3 ▼-->
    <section class="c-category3">
        <div class="c-category3__inner">
            <div class="c-category3__img">
                <img src="../assets/img/Image(1).png" alt="image">
            </div>
            <div class="c-category3__text">
                <h3>Title title title title title title title title</h3>
                <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                <button>Link 1</button>
            </div>
        </div>
    </section>
     <!--▼ category4 ▼-->
    <section class="c-category4">
        <div class="c-category4__inner">
            <div class="c-category4__img">
                <img src="../assets/img/Image(1).png" alt="image">
            </div>
            <div class="c-category4__text">
                <h3>Title title title title title title title title</h3>
                <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                <button>Link 1</button>
            </div>
        </div>
    </section>
     <!--▼ category5 ▼-->
    <section class="c-category5">
        <div class="c-category5__inner">
            <div class="c-category5__img">
                <img src="../assets/img/Image(1).png" alt="image">
            </div>
            <div class="c-category5__text">
                <h3>Title title title title title title title title</h3>
                <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                <button>Link 1</button>
            </div>
        </div>
    </section>
     <!--▼ viewmore ▼-->
    <section class="c-viewmore">
        <div class="c-viewmore__btn">
            <a href="#">View more</a>
        </div>
    </section>
     <!--▼ allfeature ▼-->
    <section class="c-allfeature">
        <div class="c-allfeature__feture">
            <div class="c-allfeature__feture__text">
                <p>Feature</p>
            </div>
        </div>
        <div class="c-allfeature__progres">
            <div class="c-allfeature__progres0">
                <img src="../assets/img/Image(1).png" alt="image">
               <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-allfeature__progres1">
                <img src="../assets/img/Image(1).png" alt="image">
                <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-allfeature__progres1">
                <img src="../assets/img/Image(1).png" alt="image">
               <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-allfeature__progres0">
                <img src="../assets/img/Image(1).png" alt="image">
               <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-allfeature__progres1">
                <img src="../assets/img/Image(1).png" alt="image">
               <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-allfeature__progres1">
                <img src="../assets/img/Image(1).png" alt="image">
               <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
        </div>
        <div class="c-allfeature__btn">
            <div class="c-allfeature__btnBottom">
               <button>View more</button>
            </div>
        </div>
    </section>
     <!--▼ blog ▼-->
    <section class="c-blog">
        <div class="c-blog__line">
            <div class="c-blog__line--text">
                <p>Blog</p>
            </div>
        </div>
        <div class="c-blog__inner">
            <div class="c-blog__inner0">
                <img src="../assets/img/Image(1).png" alt="image">
                <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-blog__inner1">
                <img src="../assets/img/Image(1).png" alt="image">
                <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-blog__inner0">
                <img src="../assets/img/Image(1).png" alt="image">
                <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
            <div class="c-blog__inner1">
                <img src="../assets/img/Image(1).png" alt="image">
                <button>Text text</button>
                <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
            </div>
        </div>
        <div class="c-blog__btn">
            <div class="c-blog__btn__bottom">
                <button>View more</button>
             </div>
        </div>
    </section>
     <!--▼ home1 ▼-->
    <section class="c-home1">
        <div class="c-home1__icon">
            <i class="fas fa-home">  Home</i>
        </div>
    </section>

  <%- include('inc/_afterfooter'); %>

   
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>

