 <!--▼ boxlink ▼-->
<section class="c-boxlink">
    <div class="c-boxlink1">
        <h3>Box link 1</h3>
       <p><i class="fas fa-circle">Link Link Link Link</i></p>
       <p><i class="fas fa-circle">Link Link Link Link</i></p>
       <p><i class="fas fa-circle">Link Link Link Link</i></p>
       <p><i class="fas fa-circle">Link Link Link Link</i></p>
       <p><i class="fas fa-circle">Link Link Link Link</i></p>
    </div>
    <div class="c-boxlink1">
        <h3>Box link 1</h3>
        <p><i class="fas fa-chevron-right">Link Link Link Link </i></p>
        <p><i class="fas fa-chevron-right">Link Link Link Link LinkLink  Link Link Link Link Link Link </i></p>
        <p><i class="fas fa-chevron-right">Link Link Link Link </i></p>
        <p><i class="fas fa-chevron-right">Link Link Link Link </i></p>
        <p><i class="fas fa-chevron-right">Link Link Link Link LinkLink  Link Link Link Link Link Link </i></p>
        
    </div>
    <div class="c-boxlink1">
        <h3>Box link 1</h3>
       <p><i class="fas fa-link"> Link Link Link Link LinkLink  Link Link Link Link Link Link</i></p>
       <p><i class="fas fa-link"> Link Link Link Link Link Link Link  Link Link Link Link</i></p>
       <p><i class="fas fa-link"> Link Link Link Link Link Link Link Link Link</i></p>
       <p><i class="fas fa-link"> Link Link Link Link Link Link Link Link Link</i></p>
       <p><i class="fas fa-link"> Link Link Link Link Link Link Link Link Link Link Link</i></p>
    </div>
</section>